.wrapper {
  display: grid;
  gap: 15px;

  .title {
    text-align: center;
    font-size: 12px;
    color: #616161;
  }

}

.wrapperList {
  display: grid;
  gap: 20px;
}

.wrapperItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .denom {
    font-size: 14px;
  }


  .amount {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      font-size: 14px;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
}