.passportHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.resetBtn {
  color: var(--primary-color);
  background-color: transparent;
  border: none;

  &:hover {
    opacity: 0.8;
  }
}

.tx {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
